[client]
port = 3306
socket = /run/mysqld/mysqld.sock

[mysqld]
default-storage-engine = MyISAM
port = 3306
socket = /run/mysqld/mysqld.sock
skip-external-locking
key_buffer_size = 64M
#max_allowed_packet = 500M
table_open_cache = 2048
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
log-bin=mysql-bin
binlog_format=mixed
server-id = 1
expire_logs_days = 5
#query_cache_type = ON
#query_cache_size = 256M
query_cache_limit = 1M
max_connections = 64
thread_cache_size = 16
innodb_flush_log_at_trx_commit = 2

skip-name-resolve = 1
performance_schema = ON
query_cache_size = 0
query_cache_type = 1
innodb_buffer_pool_instances = 4
innodb_buffer_pool_size = 500M
#innodb_log_files_in_group = 4
innodb_log_file_size = 16M
innodb_stats_on_metadata = 0
tmp_table_size = 128M
max_heap_table_size = 128M
tmpdir = /dev/shm

[mysqldump]
quick
max_allowed_packet = 500M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
